<%= turbo_frame_tag dom_id(link), class: "block" do %>
  <%= turbo_stream_from link %>

  <div class="grid grid-cols-7 items-center py-4">
    <div class="col-span-5">
      <%= link_to view_path(link.to_param), target: :_blank, data: { turbo: false }, class: "no-underline" do %>
        <div class="flex items-center gap-2">
          <%= favicon_image_tag(link.domain, class: "m-0 size-4") %>
          <%= link.title&.truncate(40) || link.url %>
          <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </div>
        <div class="px-6 text-sm text-gray-500">
          <%= link.description&.truncate(100) %>
        </div>
      <% end %>
    </div>

    <div class="col-span-1 text-center text-sm">
      <%= link_to pluralize(link.views_count, "view"), link, data: { turbo_frame: "_top" }, class: "px-3 py-2 rounded bg-gray-100 font-semibold no-underline" %>
    </div>

    <div class="col-span-1 text-center text-sm">
      <%= link_to "Copy", link, class: "px-3 py-2 rounded bg-gray-100 font-semibold no-underline" %>
    </div>
  </div>
<% end %>
